__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/
.pytest_cache/
.ray/
logs/
outputs/*
!outputs/.gitkeep
reports/*
!reports/.gitkeep
data/.gitkeep
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
notebooks/.ipynb_checkpoints/
*.log
*.tmp
*.swp
*.DS_Store
